// start icons-footer
//-autor: Miliutin Alexander (AlexMil89)
.icons.icons--foot
	.icons__wrap.icons__wrap--foot
		a(href="#"): img(src="../img/vk.svg" alt="Vk")
		a(href="#"): img(src="../img/fb.svg" alt="Fb")
		a(href="#"): img(src="../img/twitter.svg" alt="Twitter")
// end icons-footer