.search
	.container
		margin-top: 36px
		margin-bottom: 26px
		.flex-container
			justify-content: space-between
			font-family: 'Open Sans', sans-serif
			form
				width: 470px
				.form-control
					font-size: 14px
					color: #405770
					font-style: italic
				.fa-search
					color: #FF7E6D
					margin-top: 10px
			.discount
				min-width: 31%
				background-color: #FF543E
				border-radius: 3px
				text-transform: uppercase
				font-size: 15px
				height: 34px
				display: flex
				align-items: center
				justify-content: space-between
				.both
					display: flex
					align-items: center
					i
						margin: 0 10px
					p
						margin: 0
				span
					display: flex
					align-items: center
					font-size: 25px
					margin-right: 10px
					height: 100%
@media (max-width:$screen-md-max)
	.search
		form, .discount
			width: 48%
@media (max-width:$screen-sm-max)
	.search
		form, .discount
			width: 48% !important
@media (max-width:$screen-xs-max)
	.search
		.discount
			font-size: 10px !important
			span
				font-size: 16px !important
@media (max-width:$screen-phone-min)
	.search
		.flex-container
			display: block
			form, .discount
				width: 100% !important
			.discount
				font-size: 15px !important
				span
					font-size: 24px !important