// start search
//-autor: Vadim Korneychuk (sti4er)
.search
	.container
		.flex-container
			form
				.form-group.has-feedback
					input.form-control(type="text" name="search" placeholder="Search")
					span.fa.fa-search.fa-lg.form-control-feedback
			.discount
				.both
					i.fa.fa-tag.fa-lg
					p discounts car templates
				span 20%
// end search