// start search
//-autor: Vadim Korneychuk (sti4er)
.search
	.container
		.search__wrap
			form.search__form
				.form-group.has-feedback
					input.form-control(type="text" name="search" placeholder="Search")
					span.fa.fa-search.fa-lg.form-control-feedback
			.search__discount
				.search__both
					i.fa.fa-tag.fa-lg
					p discounts car templates
				span.search__percent 20%
// end search