.search
	.container
		margin-top: 36px
		margin-bottom: 36px
		.flex-container
			justify-content: space-between
			height: 34px
			form
				width: 470px
				.form-control
					font-size: 14px
					color: #405770
					font-family: 'Open Sans', sans-serif
					font-style: italic
				.fa-search
					color: #FF7E6D
					margin-top: 10px
			.discount
				width: 31%
				background-color: #FF543E
				border-radius: 3px
				text-transform: uppercase
				font-size: 15px
				display: flex
				align-items: center
				i
					margin: 0 10px
				p
					margin: 0
				span
					margin-left: 60px
					font-size: 25px