.parallax
	.maquette-front
		img(src="/img/parallax/front.svg", alt="")
	.maquette-back-1
		img(src="/img/parallax/back-1.svg", alt="")
	.maquette-back-2
		img(src="/img/parallax/back-2.svg", alt="")
		img.arrow1(src="/img/parallax/arrow1.svg", alt="")