// start parallax
//- autor: Vadim Korneychuk (sti4er)
.parallax
	.parallax__maquetteFront
		img(src="/img/parallax/front-3.svg", alt="")
		.parallax__afterAnimation2
			p logo
			img(src="/img/parallax/logo.svg", alt="")
		.parallax__afterAnimation3
			p lang
			img(src="/img/parallax/lang.svg", alt="")
		.parallax__afterAnimation4
			p slider
			img(src="/img/parallax/slider.svg", alt="")
	.parallax__maquetteBack1
		img(src="/img/parallax/back-1.svg", alt="")
		.parallax__afterAnimation1
			p filter
			img(src="/img/parallax/filter.svg", alt="")
	.parallax__maquetteBack2
		img(src="/img/parallax/back-2.svg", alt="")
		.parallax__afterAnimation5
			p carusel
			img(src="/img/parallax/arrow1.svg", alt="")
		.parallax__afterAnimation6
			p product image
			img(src="/img/parallax/product-image.svg", alt="")
// end parallax