.parallax
	.maquette-front
		img.front(src="/img/parallax/front.svg", alt="")
		.after-animation2
			p logo
			img(src="/img/parallax/logo.svg", alt="")
		.after-animation3
			p lang
			img(src="/img/parallax/lang.svg", alt="")
		.after-animation4
			p slider
			img(src="/img/parallax/slider.svg", alt="")
	.maquette-back-1
		img(src="/img/parallax/back-1.svg", alt="")
		.after-animation1
			p filter
			img(src="/img/parallax/filter.svg", alt="")
	.maquette-back-2
		img(src="/img/parallax/back-2.svg", alt="")
		.after-animation5
			p carusel
			img(src="/img/parallax/arrow1.svg", alt="")
		.after-animation6
			p product image
			img(src="/img/parallax/product-image.svg", alt="")