.parallax
	background-image: url(/img/parallax/Slide.png)
	background-position: center top
	background-repeat: no-repeat
	background-attachment: fixed
	height: 490px
	position: relative
	overflow: hidden
	@media (max-width: $screen-phone-min)
		height: 300px
	&:before
		display: block
		content: ''
		height: 100%
		width: 100%
		background-color: black
		opacity: 0.3
	.maquette-front, .maquette-back-1, .maquette-back-2
		position: absolute
		margin: auto
		box-shadow: 0px 0px 14px 4px rgba(0,0,0,0.2)
		@media (max-width: $screen-phone-min)
			display: none
	.maquette-front
		bottom: 0
		left: 0
		right: 0
		z-index: 3
		margin: auto
		width: 310px
	.maquette-back-1
		bottom: -10%
		right: 21.5%
	.maquette-back-2
		bottom: -10%
		left: 21.5%
		.arrow1
			position: absolute
			left: -28%
			bottom: 21%