.parallax
	background-image: url(/img/parallax/Slide.png)
	background-position: center top
	background-repeat: no-repeat
	background-attachment: fixed
	height: 490px
	&:before
		display: block
		content: ''
		height: 100%
		width: 100%
		background-color: black
		opacity: 0.3