// start parallax
//- autor: Vadim Korneychuk (sti4er)
.parallax
	.parallax__maquetteFront
		.isvg(data-icon = "sketch-front")
		.parallax__afterAnimation2
			p logo
			.isvg(data-icon = "arrow-logo")
		.parallax__afterAnimation3
			p lang
			.isvg(data-icon = "arrow-lang")
		.parallax__afterAnimation4
			p slider
			.isvg(data-icon = "arrow-right")
	.parallax__maquetteBack1
		.isvg(data-icon = "sketch-right")
		.parallax__afterAnimation1
			p filter
			.isvg(data-icon = "arrow-right")
	.parallax__maquetteBack2
		.isvg(data-icon = "sketch-left")
		.parallax__afterAnimation5
			p carusel
			.isvg(data-icon = "arrow-left")
		.parallax__afterAnimation6
			p product image
			.isvg(data-icon = "arrow-left")
// end parallax