// start parallax
//- autor: Vadim Korneychuk (sti4er)
.parallax
	.parallax__maquetteFront
		.icon(data-icon = "/img/parallax/front.svg")
		.parallax__afterAnimation2
			p logo
			.icon(data-icon = "/img/parallax/logo.svg")
		.parallax__afterAnimation3
			p lang
			.icon(data-icon = "/img/parallax/lang.svg")
		.parallax__afterAnimation4
			p slider
			.icon(data-icon = "/img/parallax/filter.svg")
	.parallax__maquetteBack1
		.icon(data-icon = "/img/parallax/back-1.svg")
		.parallax__afterAnimation1
			p filter
			.icon(data-icon = "/img/parallax/filter.svg")
	.parallax__maquetteBack2
		.icon(data-icon = "/img/parallax/back-2.svg")
		.parallax__afterAnimation5
			p carusel
			.icon(data-icon = "/img/parallax/arrow1.svg")
		.parallax__afterAnimation6
			p product image
			.icon(data-icon = "/img/parallax/arrow1.svg")
// end parallax