// start cards-list
//- autor: Alexander Miliutin (alexmil89)
.cardsList
	.container
		.cardsList__wrap
			include /blocks/cards/card1
			include /blocks/cards/card2
			include /blocks/cards/card3
			include /blocks/cards/card4
			include /blocks/cards/card5
			include /blocks/cards/card6
			include /blocks/cards/card7
			include /blocks/cards/card8
			include /blocks/cards/card9
			include /blocks/cards/card10
			include /blocks/cards/card11
			include /blocks/cards/card12
// end cards-list