.cards-list
	.container
		.cards-list-wrap.flex-container
			include /blocks/cards/card1.jade
			include /blocks/cards/card2.jade
			include /blocks/cards/card3.jade
			include /blocks/cards/card4.jade
			include /blocks/cards/card5.jade
			include /blocks/cards/card6.jade
			include /blocks/cards/card7.jade
			include /blocks/cards/card8.jade
			include /blocks/cards/card9.jade
			include /blocks/cards/card10.jade
			include /blocks/cards/card11.jade
			include /blocks/cards/card12.jade