link(href="/app/concat.css" rel="stylesheet")
script(src="//cdnjs.cloudflare.com/ajax/libs/jquery-browser/0.0.8/jquery.browser.min.js")
script(src="/bower_components/jquery/dist/jquery.js")
script(src="/app/svg.js")
script(src="//cdnjs.cloudflare.com/ajax/libs/picturefill/2.3.1/picturefill.min.js")