script(src="/app/vendor/zepto.js")
script(src="/app/vendor/jquery.browser.min.js")
script(src="/app/vendor/all.js?rev=@@hash")
script(src="/app/vendor/outdatedbrowser/outdatedbrowser.min.js")
script(src="/app/vendor/svg.js")
#outdated