script(src="/app/vendor/jquery-1.11.3.js")
script(src="/app/vendor/bootstrap/bootstrap.js")
script(src="/app/vendor/jquery.browser.min.js")
script(src="/app/vendor/all.js")
script(src="/app/vendor/parallax.js" type="text/javascript")
script(src="/app/vendor/outdatedbrowser/outdatedbrowser.min.js")
#outdated