script(src="//cdnjs.cloudflare.com/ajax/libs/jquery-browser/0.0.8/jquery.browser.min.js")
script(src="/bower_components/jquery/dist/jquery.js")
script(src="/app/vendor/svg.js")
script(src="/app/vendor/picturefill.min.js")