//- script(src="/app/svg.js")
//- script(async src="/app/modernizr.js")
//- script(async src="/bower_components/jquery/dist/jquery.js")
//- script(async src="//cdnjs.cloudflare.com/ajax/libs/jquery-browser/0.0.8/jquery.browser.min.js")
//- script(async src="//cdnjs.cloudflare.com/ajax/libs/picturefill/2.3.1/picturefill.min.js")

// libs:js 
// endinject 
// inject:js 
// endinject 
//- script(src="//cdnjs.cloudflare.com/ajax/libs/jquery-browser/0.0.8/jquery.browser.min.js")
//- script(src="//cdnjs.cloudflare.com/ajax/libs/picturefill/2.3.1/picturefill.min.js")