meta(charset="utf-8")
meta(name="viewport" content="width=device-width")
meta(name="description" content="")
meta(name="keywords" content="")
link(href="/app/vendor/bootstrap/bootstrap.css" rel="stylesheet")
link(href="/font/fonts.css" rel="stylesheet")
link(href="/font/font-awesome.css" rel="stylesheet")
link(href="/app/app.css" rel="stylesheet")
link(href="/app/animate.css" rel="stylesheet")
link(href="/app/vendor/outdatedbrowser/outdatedbrowser.min.css" rel="stylesheet")
