meta(charset="utf-8")
meta(name="viewport" content="width=device-width")
meta(name="description" content="")
meta(name="keywords" content="")
link(href="/font/fonts.css" rel="stylesheet")
link(href="/app/bootstrap.css" rel="stylesheet")
link(href="/app/app.css" rel="stylesheet")
link(href="/app/animate.css" rel="stylesheet")
link(href="http://fonts.googleapis.com/css?family=Open+Sans:600italic,400&subset=latin,cyrillic-ext,cyrillic,latin-ext" rel="stylesheet")
//- link(href="/app/concat.css" rel="stylesheet")
