//-doctype html
html
	head
		include /pages/_head
		style(type='text/css').
			body > .container > .row > h2 {
				font-family: Verdana;
				color: #84847E;
			}
			.blocks-list > p {
				font-size: 16px;
				text-align: center;
				height: 50px;
				line-height: 48px;
				border: 1px solid #D3D3D5;
				background-color: #EFEFEF;
				border-radius: 5px;
			}
			div.blocks-list > ul {
				padding: 0;
			}
			div.blocks-list > ul > li {
				list-style-type: none;
			}
			div.blocks-list > ul > li > p {
				text-align: center;
				font-size: 14px;
				height: 35px;
				line-height: 35px;
				cursor: pointer;
			}
			div.blocks-list > ul > li > p:after {
				content: '';
				display: inline-block;
				width: 10px;
				height: 10px;
				border: 5px solid transparent;
				border-top: 5px solid black;
				margin: 0 0 -4px 10px;
			}
			.block-view {
				margin: 40px 0;
			}
			.html-code {
				width: 100%;
				min-height: 300px;
				border-radius: 10px;
				box-shadow: 0 0 30px rgba(0,0,0,.1);
				padding-left: 30px;
			}
			.block-open {
				color: #6ABC45;
			}
			p.block-open:after {
				border-right: 5px solid #6ABC45 !important;
				border-top: 5px solid transparent !important;
				margin: 0 0 -1px 10px !important;
			}
			/* only for Obshagi */
			.header {
				position: static;
			}
			body {
				justify-content: flex-start;
			}
	body
		.container
			.row
				h2(style="text-align: center") prestapro.ru: blocks structure
		//- .container
		//- 	.row
		//- 		.blocks-list
		//- 			p Страница Main
		//- 			ul
		//- 				li
		//- 					p Блок - header
		//- 					.block-view
		//- 						include /blocks/ms-header/ms-header
		//- 					.html-code
		//- 						xmp
		//- 							include ../../public/blocks/ms-header/ms-header.html
						
		script(src='../app/vendor/jquery-1.11.3.js')
		script(src='../app/vendor/bootstrap/bootstrap.js')
		//- script(src='../app/vendor/jquery.browser.min.js')
		//- script(src="http://code.jquery.com/jquery-1.8.1.min.js")
		//- script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js')
		//- script(src='../app/vendor/all.js')
		script(type="text/javascript").
			$(document).ready(function() {
				$('.blocks-list > ul > li > p').on('click', function() {
						$(this).toggleClass('block-open');
					});
				$('.blocks-list > ul > li > div.block-view, .blocks-list > ul > li > div.html-code' ).hide().click(function(e) {
					e.stopPropagation();
				});
				$('.blocks-list > ul > li').click(function() {
					$(this).find('div.block-view, div.html-code').slideToggle(400);
				});
			});
