doctype html
html
	head
		title Main
		include /pages/_head.jade
	body
		main
			include /blocks/header/header.jade
			include /blocks/parallax/parallax.jade
			include /blocks/cards-list/cards-list.jade
			include /blocks/subscribe/subscribe.jade
			include /blocks/footer/footer.jade
		include /pages/_foot.jade