.header
	height: 125px
	.container
		.header-wrap
			height: 125px
			display: flex
			.logo
				display: block
				width: 174px
				height: 53px
				margin: auto
			.icons
				align-self: center
				i
					display: inline-block
					border-radius: 15px
					height: 30px
					width: 30px
					border: 1px solid #ebebeb
					color: #43a6c7
					text-align: center
					padding-top: 8px
					margin-left: 13px