// start header
//-autor: Vladislav Grigorzevsky (gradiusalisik)
header.header
	.container
		.header-wrap
			.header-blocks(itemscope itemtype="http://schema.org/Organization")
				a.logo(href="#"): img(itemprop="logo" src="../img/logo.svg" alt="Prestapro")
				.icon-wrap
					.icons
						a(href="#")
							span.icon-vk
						a(href="#")
							span.icon-fb
						a(href="#")
							span.icon-twitter
// end header