// start header
//- Vladislav Grigorzevsky (gradiusalisik)
header.header
	.container
		.header__wrap
			.header__blocks(itemscope itemtype="http://schema.org/Organization")
				include /blocks/logo/logo-header
				include /blocks/socials/socials-header
// end header