header
	.header
		.container
			.header-wrap
				.header-blocks
					a.logo(href="#")
						img(src="../img/logo.svg" alt="Prestapro")
					.icon-wrapp
						.icons
							a(href="#")
								img(src="../img/vk.svg" alt="Vk")
							a(href="#")
								img(src="../img/fb.svg" alt="Fb")
							a(href="#")
								img(src="../img/twitter.svg" alt="Twitter")