doctype html
html
	head
		title Main
		include /_head.jade
	body
		main
			include /blocks/header/header.jade
			include /blocks/parallax/parallax.jade
			include /blocks/search/search.jade
			include /blocks/cards-list/cards-list.jade
		include /blocks/subscribe/subscribe
		include /blocks/footer/footer
		include /_foot.jade