doctype html
html
	head
		title Main
		include /_head.jade
	body(ng-app="app" ng-controller="MainCtrl")
		main
			include /blocks/header/header.jade
		script(type='text/javascript').
			ChatraID = 'gdWLfPGSFTpSf6DTL';
			(function(d, w, c) {
				var n = d.getElementsByTagName('script')[0],
					s = d.createElement('script');
				w[c] = w[c] || function() {
					(w[c].q = w[c].q || []).push(arguments);
				};
				s.async = true;
				s.src = (d.location.protocol === 'https:' ? 'https:': 'http:')
					+ '//chat.chatra.io/chatra.js';
				n.parentNode.insertBefore(s, n);
			})(document, window, 'Chatra');
		include /_foot.jade
