.card.wow.fadeInLeft(data-wow-delay="500ms" data-wow-duration="1s" data-wow-iteration="1")
	a(href="#")
		img(src="../img/cards/5.jpg", alt="card")
	.info-block.sale sale
	h3.text-title The new york times
	p.text Responsive PrestaShop Themes
	.button-wrap
		a.button-watch Watch