.card
	a(href="#")
		img(src="../img/cards/5.jpg", alt="card")
	.info-block.sale sale
	h3.text-title(style="font-size: 25px") The new york times
	p.text Responsive PrestaShop Themes
	.button-wrap
		a.button-watch Watch