.card.wow.fadeInLeft(data-wow-delay="300ms" data-wow-duration="1s" data-wow-iteration="1")
	a(href="#")
		img(src="../img/cards/1.jpg", alt="card")
	.info-block.sale sale
	h3.text-title SINGLEWAve
	p.text Responsive PrestaShop Themes
	.button-wrap
		a.button-watch Watch