.card.wow.fadeInLeft(data-wow-delay="500ms" data-wow-duration="1s" data-wow-iteration="1")
	a(href="#")
		img(src="../img/cards/9.jpg", alt="card")
	.info-block.new new
	h3.text-title linked
	p.text Responsive PrestaShop Themes
	.button-wrap
		a.button-watch Watch