.card.wow.fadeInLeft(data-wow-delay="200ms" data-wow-duration="1s" data-wow-iteration="1")
	a(href="#")
		img(src="../img/cards/4.jpg", alt="card")
	.info-block.hot hot
	h3.text-title Facebook
	p.text Responsive PrestaShop Themes
	.button-wrap
		a.button-watch Watch