// start card8
//-autor: Alexander Miliutin (AlexMil)
.card
	a(href="#")
		img(src="../img/cards/6.jpg", alt="card")
	.info-block.new new
	h3.text-title Temating
	p.text Responsive PrestaShop Themes
	.button-wrap
		a.button-watch Watch
// end card8