// start card4
//-autor: Alexander Miliutin (AlexMil)
.card
	a.card__imgContent(href="#")
		img(src="../img/cards/2.jpg", alt="card")
	.card__info.card__info--sale sale
	h3.card__title Northwave
	p.card__text Responsive PrestaShop Themes
	.card__buttonWrap
		a.card__button Watch
// end card4