// start card11
//-autor: Alexander Miliutin (AlexMil)
.card
	a.card__imgContent(href="#")
		img(src="../img/cards/9.jpg", alt="card")
	.card__info.card__info--new new
	h3.card__title linked
	p.card__text Responsive PrestaShop Themes
	.card__buttonWrap
		a.card__button Watch
// end card11