footer
	.footer
		.container
			.footer-wrap
				.footer-blocks
					.icon-wrapp
						.icons
							a(href="#")
								i.fa.fa-vk
							a(href="#")
								i.fa.fa-facebook
							a(href="#")
								i.fa.fa-twitter
					a.logo(href="#")
						img(src="../img/logo-footer.png" alt="Prestapro")
