footer
	.footer
		height: 130px
		background-color: #343434
		.container
			.footer-wrap
				height: 130px
				display: flex
				.footer-blocks
					align-self: center
					height: 53px
					width: 100%
					position: relative
					.icon-wrapp
						position: absolute
						top: 7px
						left: 0
						.icons
							width: 129px
							img
								display: inline-block
								border-radius: 15px
								height: 30px
								width: 30px
								border: 1px solid white
								color: white
								text-align: center
								padding-top: 8px
								margin-left: 13px
								transition: all .5s
								&:hover
									color: #343434
									background-color: white
					.logo
						display: block
						width: 174px
						height: 53px
						margin: 0 auto
@media (max-width: $screen-sm-min )
	.footer
		height: 145px
	.icon-wrapp
		right: auto !important
		top: auto !important
		bottom: -35px !important
		width: 100%
		.icons
			margin: 0 auto