// start footer
//-autor: Vladislav Grigorzevsky (gradiusalisik)
footer.footer
	.container
		.footer-wrap
			.footer-blocks(itemscope itemtype="http://schema.org/Organization")
				.icon-wrap
					.icons
						a(href="#")
							span.icon-vk
						a(href="#")
							span.icon-fb
						a(href="#")
							span.icon-twitter
				a.logo(href="#"): img(itemprop="logo" src="../img/logo-footer.svg" alt="Prestapro")
// end footer