// start footer
//- autor: Vladislav Grigorzevsky (gradiusalisik)
footer.footer
	.container
		.footer__wrap
			.footer__blocks(itemtype="http://schema.org/Organization" itemscope)
				include /blocks/socials/socials-footer
				include /blocks/logo/logo-footer
// end footer