.footer
	height: 130px
	background-color: #343434
	@media (max-width: $screen-sm-min)
		height: 145px
	&__wrap
		height: 130px
		display: flex
	&__blocks
		align-self: center
		height: 53px
		width: 100%
		position: relative
	&__logo
		display: block
		width: 174px
		height: 53px
		margin: 0 auto