// color
$green = #6abc45
$grey = #7d7c80
$black = #1e1e1f
$white = #f0efef
$turquoise = #08BFBA
$grey-bg = #f1f1f1

// grid
$screen-xs-min = 320px
$screen-xs-max = 767px
$screen-sm-min = 768px
$screen-sm-max = 991px
$screen-md-min = 992px
$screen-md-max = 1199px
$screen-lg-min = 1200px