@import '_vars'
@import '_sticky-footer'

// container
body
	display: flex
	flex-flow: column nowrap
	min-height: 100vh
	justify-content: space-between
	font-family: 'Open Sans'
	font-size: 13px
	color: white
	main
		display: flex
		flex-flow: column nowrap
		flex-grow: 1
.flex-container
	display: flex

// type
a:hover, a:focus, a:link
	text-decoration: none
@import '../blocks/*'