// start socials
//- autor: Miliutin Alexander (alexmil89)
.socials.socials--head
	.socials__wrap.socials__wrap--head
		a(href="#"): img(src="/img/vk.svg" alt="Vk")
		a(href="#"): img(src="/img/fb.svg" alt="Fb")
		a(href="#"): img(src="/img/twitter.svg" alt="Twitter")
// end socials