// start socials
//- autor: Miliutin Alexander (alexmil89)
.socials.socials_head
	.socials__wrap.socials__wrap_head
		a.icon(href="#" data-icon="/img/vk.svg")
		a.icon(href="#" data-icon="/img/fb.svg")
		a.icon(href="#" data-icon="/img/twitter.svg")
// end socials