.socials
	position: absolute
	&_foot
		top: 7px
		left: 0
	&_head
		right: 0
		top: 7px
	@media (max-width: $screen-sm-min)
		right: auto
		top: auto
		bottom: -35px
		width: 100%
	&__wrap
		width: 129px
		@media (max-width: $screen-sm-min)
			margin: 0 auto
		a
			display: inline-block
			border-radius: 50%
			height: 30px
			width: 30px
			box-shadow: 0px 0px 0px 1px rgba(255,255,255,1)
			text-align: center
			padding: 4px 8px
			margin-left: 13px
			transition: all .5s
			&:hover
				box-shadow: none
			svg
				position: relative
		&_foot
			a
				&:hover
					background-color: white
					svg path
						fill: #343434
				svg
					top: 3px
					right: 1px
				svg path
					fill: #fff
		&_head
			a
				box-shadow: 0px 0px 0px 1px rgba(236,236,236,1)
				&:hover
					background-color: #43a6c7
					svg path
						fill: white
				svg
					top: 2px
					right: 2px
				svg path
					fill: #43a6c7