// start socials
//- autor: Miliutin Alexander (alexmil89)
.socials.socials--foot
	.socials__wrap.socials__wrap--foot
		a(href="#"): img(src="/img/vk.svg" alt="Vk")
		a(href="#"): img(src="/img/fb.svg" alt="Fb")
		a(href="#"): img(src="/img/twitter.svg" alt="Twitter")
// end socials