// start socials
//- Miliutin Alexander (alexmil89)
.socials.socials_head
	.socials__wrap.socials__wrap_head
		a.isvg(href="#" data-icon="icon-vk")
		a.isvg(href="#" data-icon="icon-fb")
		a.isvg(href="#" data-icon="icon-tw")
// end socials