// start socials
//- autor: Miliutin Alexander (alexmil89)
.socials.socials_foot
	.socials__wrap.socials__wrap_foot
		a(href="#" class="icon" data-icon="/img/vk.svg")
		a(href="#" class="icon" data-icon="/img/fb.svg")
		a(href="#" class="icon" data-icon="/img/twitter.svg")
// end socials