.subscribe
	height: 85px
	background-color: #efefef
	.container
		.subscribe-wrap
			display: flex
			height: 85px
			.subscribe-info
				display: flex
				margin: auto
				height: 45px
				width: 600px
				p
					font-size: 16px
					margin-bottom: 0
					align-self: center
					margin-right: 35px
					text-transform: uppercase
					color: #405770
				form
					height: 45px
					width: 415px
					input
						height: 45px
						width: 365px
						border-radius: 4px 0 0 4px
						font-size: 13px
						border: 1px solid #cad3df
						box-shadow: none
						padding-left: 14px
						color: #405770
					.button
						position: relative
						left: -4px
						top: 1px
						height: 45px
						width: 45px
						background-color: #0082d5
						border-radius: 0 4px 4px 0
						border: none
						i
							text-align: center
							padding-top: 5px
							color: white