// start subscribe
//- autor: Vladislav Grigorzevsky (gradiusalisik)
.subscribe
	.container
		.subscribe__wrap
			.subscribe__info
				p.subscribe__title subscribe
				form.subscribe__form
					.subscribe__inputWrap
						input.subscribe__inputSearch(type="text" name="E-mail" placeholder="Enter email address")
						button.subscribe__button
							span.subscribe__iconArrow(class="icon" data-icon="/img/arrow-right.svg")
// end subscribe