.subscribe
	.container
		.subscribe-wrap
			.subscribe-info
				p SUBSCRIBE
				form
					input(type="text" name="E-mail" placeholder="Enter email address")
					button.button
						i.fa.fa-chevron-right