.subscribe
	.container
		.subscribe-wrap
			.subscribe-info
				p subscribe
				form
					.input-wrapp
						input.input-search(type="text" name="E-mail" placeholder="Enter email address")
						button.button
							i.fa.fa-chevron-right